In [8]:
print("this is my first python program")

this is my first python program

In [4]:
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

In [6]:
#x = 5   this is a comment
y = "Hello, World!"
#print(x)
print(y)

Hello, World!

In [7]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [10]:
   #casting
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [11]:
#finding data type of a variable
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
#string variable can be define as single or double qoutes
x = "John"
# is the same as
x = 'John'

In [14]:
#variable naming rules

#1.A variable name must start with a letter or the underscore character
#2.A variable name cannot start with a number
#3.A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#4.Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
"""
Camel Case
Each word, except the first, starts with a capital letter:
myVariableName = "John"

Pascal Case
Each word starts with a capital letter:
MyVariableName = "John"

Snake Case
Each word is separated by an underscore character:
my_variable_name = "John"
"""

In [15]:
#assign multiple variable
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [16]:
x, y, z = 1, 2, 3
print(x)
print(y)
print(z)

1
2
3

In [17]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
#unpacking collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [19]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [20]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [21]:
#Create a variable outside of a function, and use it inside the function
x = "awesome"    #its a global vaiable

def myfunc():     #its a function
  print("Python is " + x)

myfunc()

Python is awesome

In [22]:
#Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"           #its a local vaiable
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [25]:
#To create a global variable inside a function, you can use the global keyword.
#If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [26]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [28]:
#Built-in Data Types
"""Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
"""

'Python has the following data types built-in by default, in these categories:\n\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\n'

In [29]:
#trying all above datatypes
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [30]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [31]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [36]:
x = range(78)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 78)
<class 'range'>

In [37]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [38]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [39]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'banana', 'cherry', 'apple'})
<class 'frozenset'>

In [40]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [41]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [42]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [43]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000001689AE80DC0>
<class 'memoryview'>

In [45]:
#converting from one variable type tp another
#Note: You cannot convert complex numbers into another number type.
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [50]:
#picking up a random number
import random

print(random.randrange(1, 100))

89